<table>
<tbody>
<% @songs.each do |s| %>
    <tr>  
        <td><%= s.title %></td>
        <td><%= s.artist_name %></td>
        <td><%= s.genre %></td>
        <% if s.released %>
        <td><%= s.release_year %></td>
        <% else %>
        <td>Not Released</td>
        <td>
        <%= link_to "Edit", edit_song_path(@song) %> 
        <%= link_to "Delete", song, method: :delete, data: {confirm: "Are you sure you want to delete this song?"} %>
        </td>
        <% end %>
    </tr>  
<% end %>
</tbody>
</table>